@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

.left{
    width: 24vw;
    padding: 10px;
    border-radius: 10px;
    height: 82vh;
    background-color: #000000;
}

.right{
    width: 74vw;
    padding: 10px;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    max-height: 95vh;
}

.mainScroll{
    overflow-y: scroll;
    max-height: 75vh;
}


nav{
    height: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px ;
}



.logo{
    width: 10vw;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
.logo .logoreal{
    width: 45px;
}

.logo .home{
    width: 25px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.297);
    padding: 10px;
    border-radius: 60px;
}
.navstart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    background-color:rgba(128, 128, 128, 0.297);
    gap: 10px;
    width: 25vw;
    height: 45px;
    justify-content: flex-start;
    align-items: center;
    padding: 1px 20px;
    border-radius: 30px;
    /* margin: 5px; */
}

.search .icon4 , .icon5{
    width: 25px;
}

.search input{
    width: 70%;
    border: none;
    color: white;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    background-color:rgba(34, 34, 34, 0.297);
}
.navend{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navend ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
}

.navend ul li a{
    text-decoration: none;
    color: rgb(159, 157, 157);
    font-weight: bold;
}
.navend ul li a:hover{
    color: aliceblue;
    font-weight: bolder;
}

.navend ul li {
    list-style: none;
}


.lines{
    background: #b4a9a9;
    height: 25px;
    margin: 16px;
    width: 2px;
}

.downloadsvg {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downloadsvg img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;

}

.navend button{
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border: none;
    cursor: pointer;
    font-weight:500px;

}

.navend p, img{
    cursor: pointer;
    color: rgb(159, 157, 157);;
}
.navend img{
    opacity: .7;
}
.navend img:hover{
    opacity: 1;
}

.navend p{
    width: 77px;
}
.navend p:hover{
    font-weight: bold;
    color: aliceblue;
}

.navend .Signup{
    background-color: rgba(52, 50, 50, 0);
    color: rgb(208, 208, 208);
    width: 73px;
    font-size: 16px;
}

.Signup:hover{
    color: aliceblue;
    font-weight: 500;
    font-size: 17px;
}

.Signup button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navend .Login{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 115px;
    font-size: 17px;
}

.Login:hover{
    font-size: 18px;
    font-weight: bold;
}

.library{
    min-height: 80vh;
    position: relative;
    border-radius: 5px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.heading h2{
    font-size: 16px;
}

.library img{
    height: 15px;
}

.footer{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a{
    color: gray;
    text-decoration: none;
    
}

.footer ul li{
    list-style: none;
    display: flex;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}

.footer h3{
    color: gainsboro;
}

.english-btn{
    color: aliceblue;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.043);
    font-weight: 500;
    cursor: pointer;
}

.main-heading{
    padding: 15px;
}

.headingshow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.headingshow h1{
    font-size: 25px;
}

.headingshow h1:hover{
    text-decoration: underline;
}

.headingshow p:hover{
    cursor: pointer;
}


.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    /* margin: 15x 5px; */
}

.cardContainer::-webkit-scrollbar{
    width: 0;
}

.cardContainer .card:hover{
    background-color: #353535;
}
.cardContainerArt .cardArt:hover{
    background-color: #353535;
}


.card{
    position: relative;
    min-width: 180px;
    text-align: center;
    margin-right: 10px;
    transition: all .8s;
}

.card:first-child {
  margin-left: 1rem;
}


.card .playbtn{
    position: absolute;
    top: 160px;
    right: 15px;
    z-index: 1;
    width: 45px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card:hover{
    .playbtn{
        opacity: 1;
        right: 15px;
        top: 140px;
    }
}


.main-heading .card{
    width: 180px;
    background-color: #252525;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card h2{
    font-size: 1em;
    padding: 8px 2px;
}
.card p{
    font-size: .8em;
    padding: 8px 2px;
}

.cardContainerArt{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 15x 5px;
    padding-top: 10px;
    overflow-x: auto;
}

.cardContainerArt::-webkit-scrollbar{
    width: 0;
}

.cardArt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-width: 180px;
    /* border: 1px solid red; */
    background-color:#252525;
    padding:10px;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    transition: all .8s;
}

.cardArt .playbtn{
    position: absolute;
    top: 145px;
    right: 20px;
    z-index: 1;
    width: 45px;
    opacity: 0;
    transition: all 1s ease-out;
}

.cardArt:hover{
    .playbtn{
        opacity: 1;
        right: 20px;
        top: 125px;
    }
}
.cardArt .pic{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.right .playbar{
    width: 73vw;
    min-height: 35px;
    position: fixed;
    bottom: 25px;
    background-color: #454a47bc;
    padding: 8px;
    border-radius: 20px 20px 0 0;
    flex-direction: column;
}

.playbar .songbutton{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}


.songlist{
    max-height: 50vh;
    overflow: auto;
    margin: 10px 0;
}

.songlist ul{
    padding: 5px 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* padding: 12px 0px; */
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 14px;
}

.songlist ul li  .info{
    font-size: 14px;
    width: 150px;
}

.songlist ul li img{
    height: 30px;
}

.songlist .playnow{
    font-size: 12px;
}

.seekbar{
    height: 2px;
    width: 99%;
    border: 1.5px solid#00000000;
    border-radius: 10px;
    position: absolute;
    bottom: 4px;
    right: 7px;
    background-color: #ffffff;
    cursor: pointer;
}
.seekbar:hover{
    background-color: rgb(30 219 97);
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -6px;
    left: 0%;
}

.songbutton img{
    cursor: pointer;

}

.playsong{
    width: 30px;

}

.songinfo ,.songtime{
    color: rgb(212 207 185);
}
.songinfo{
    min-width: 15vw;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.hamburger{
    display: none;
    padding: 0px 10px;
}

.plusCloseSVG{
    display: flex;
    gap: 190px;
}

.plusCloseSVG .closebtn{
    display: none;
}

.abovebar .timevol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 10px;
    cursor: pointer;

}



/* Making Responsive for laptop */

@media (max-width: 1024px) {
    .left{
        font-size: .7em;
    }
    .songlist ul li{
        padding: 5px;
    }
    .songlist .playnow {
        display: none;
    }
    .songlist ul li .info {
        font-size: 1em;
    }
    .navend{
        gap: 10px;
    }
    .navend ul li a{
        font-size: .8em;
    }
    .navend ul {
        gap: 8px;
    }
    .navend .lines{
        display: none;
    }

    .logo .logoreal {
        margin: -20px;
        width: 45px;
        height: 45px;
    }
    .navstart {
        margin-left: 20px;
    }
    .navend p, .Signup{
        width: max-content;
    }
    
    .songinfo, .songtime {
        font-size: .7em;
    }
    
    .seekbar {
        width: 98%;
    }

}


/* Make for Tablet responsive */

@media (max-width: 768px) {
    .left{
        position: absolute;
        left: -140%;
        transition: all .3s;
        z-index: 1;
        width: 320px;
        height: 75vh;
    }
    .right{
        width: 100vw;
    }
    .right .playbar{
        width: 98vw;
        position: absolute;
        bottom: -105px;
    }
    .hamburger{
        display: block;
    }
   .plusCloseSVG .plus{
        position: absolute;
        right: 120px;
        margin-top: -6px;
    }
    .plusCloseSVG .closebtn{
        position: absolute;
        display: block;
        margin-top: -17px;
        right: 20px;
        background-color: #353535;
    }
    .plusCloseSVG .closebtn img{
       height: 40px;
    }
    .footer{
        margin: 0%;
        position: absolute;
        bottom: 40px;
    }
    .navend ul ,.lines{
        display: none;
    }
    .navend{
        margin: 0;
        padding: 0;
        gap: 5px;
    }
    .navstart{
        margin: 0;
        padding: 0;
        gap: 5px;
    }
    .home{
        display: none;
    }
    .logo{
        padding: 0;
        margin: 0;
    }
    .abovebar{
        flex-direction: column;
        gap: 5px;
        margin-bottom: 8px;
    }
    .navend p{
            display: none;
    }
    .navend .Login {
        padding: 20px 0px;
        min-width: 65px;
        margin: 0;
    }
    .navend .Signup{
        font-size: 0.8em;
    }
    .search .icon4, .icon5 {
        width: 20px;
    }
    .search{
        padding: 0 10px;
        gap: 5px;
        min-width: 30vw;
    }
    .songinfo, .songtime {
        font-size: 1.2em;
    }
    
}





/* Make for Mobile responsive */
@media (max-width: 420px) {
    nav{
        height: 25px;
    }
    .hamburger {
        width: 15px;
        height: 15px;
    }
    .logo .logoreal {
        width: 30px;
        height: 30px;
    }
    .logo{
        width: max-content;
        padding: 0 12px 0 3px;
    }
    .downloadsvg {
        height: 14px;
    }
    .search img{
        width: 15px;
        height: 15px;
    }
    .search{
        height: 30px;
        width: 40vw;
        border: none;
    }
    .search input{
        font-size: 16px;
        padding: 0;
    }
    .search ::placeholder{
        font-size: 12px;
    }
    .navend{
        margin-left: 10px;
    }

    .navend .Signup {
        font-size: 0.7em;
        width: max-content;
        
    }
    .navend .Login {
        padding: 0px 10px;
        min-width: max-content;
        margin: 0;
        font-size: 0.8em;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        margin-right: 5px;
        
    }
    .songlist .playnow {
        display:contents;
    }
    .songinfo, .songtime {
        font-size: 1.3em;
    }
    .card{
        width: 140px;
    }
    .seekbar {
        width: 97%;
    }
    .abovebar .timevol {
        flex-direction: column;
        gap: 3px;
    }
    .left{
        width: 300px;
    }
    .headingshow h1, p{
        font-size: 1.2em;
    }
    .container .right{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
    }
    .main-heading {
        padding: 5px;
    }

}